################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerManager/.vs/CustomerManager
/CustomerManager/CustomerManager/bin/Debug/netcoreapp3.1
/CustomerManager/CustomerManager/obj
